<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <title>Nested Property Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h3>Nested Property Builder</h3>
    <div ng-controller="appController" ng-init="buildProp()" class="container">
      <div class="container bs-example" style_="background-color: lightblue">
          Nested Property Builder, como o nome sugere, é um construtor de propriedades aninhadas para utilização em algumas bibliotecas Java, tais como commons-beans. Esta construção ocorre a partir de uma invocação encadeada de métodos "get". Por exemplo, a invocação <code>getAaa().getBbb().get(3).getCcc()</code> dá origem à propriedade aninhada<code>aaa.bbb[3].ccc</code>
      </div>
        
      <div class="form-group">
        <p><input class='form-control' type="text" ng-model="name" ng-change="buildProp()" ng-model-options="{ debounce: 500 }"
                style='width: 400px'
                placeholder="Digite aqui os métodos encadeados" ></p>
        <p>Nested Property: {{aaa}}</p>
      </div>
        
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</html>
